{{ define "TurmaIndex"}}
	{{ template "Header"}}
		{{ template "Menu" }}

	<h2> Turmas Cadastradas </h2>
	<table border="1">
		<thead>
			<tr>
				<td>Id</td>
				<td>Nome</td>
				<td>Período</td>
				<td>Turno</td>
				<td colspan="3">Opções</td>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
			<tr>
				<td> {{ .IdTurma }}</td>
				<td> {{ .NomeTurma }}</td>
				<td> {{ .Periodo }}</td>
				<td> {{ .Turno }}</td>
				<td><a href="/show?id={{ .IdTurma }}">Ver</a></td>
        		<td><a href="/edit?id={{ .IdTurma }}">Editar</a></td>
        		<td><a href="/deleteTurma?id={{ .IdTurma }}">Deletar</a></td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ template "Footer" }}
{{ end }}